<h2>DashBoard</h2>
<a class="btn btn-outline-secondary" asp-area="" asp-controller="Admin" asp-action="AddressManagement">Address List </a>
<a class="btn btn-outline-secondary" asp-area="" asp-controller="Admin" asp-action="CoursesManagement">Courses List </a>
<a class="btn btn-outline-secondary" asp-area="" asp-controller="Admin" asp-action="StudentManagement">Student List </a>
