
@model StudentRegisteration.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<link href="~/css/login.css" rel="stylesheet" />

@* <h2>Login</h2>
<form method="post" asp-action="Login">
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

@if (TempData["Error"] != null)  // Handle errors from controller (optional)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
} *@

<section class="vh-100">
    <div class="container py-5">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form method="post" asp-action="Login">
                    <!-- Email input -->
                    <div class="form-outline mb-4 form-group">
                        <label class="form-label" for="form1Example13" asp-for="Email">Email address</label>
                        <input type="email" id="form1Example13" class="form-control form-control-lg" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4 form-group">
                        <label class="form-label" for="form1Example23" asp-for="Password">Password</label>
                        <input type="password" id="form1Example23" class="form-control form-control-lg" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block fs-6" style="width: 440px;">Log in</button>
                </form>
                @if (TempData["Error"] != null)  // Handle errors from controller (optional)
                {
                    <div class="alert alert-danger">@TempData["Error"]</div>
                }
            </div>
        </div>
    </div>
</section>
